<mat-drawer-container hasBackdrop>
  <mat-drawer #drawer mode="over">
    <a routerLink="/storage" mat-menu-item>
      <mat-icon>storage</mat-icon>
      Storage
    </a>
    <a routerLink="/friends" mat-menu-item>
      <mat-icon>people</mat-icon>
      Friends
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button
        [matMenuTriggerFor]="account"
        aria-label="account"
        mat-icon-button
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <mat-menu #account="matMenu">
      <a routerLink="/account" mat-menu-item>
        <mat-icon>person</mat-icon>
        Account
      </a>
      <mat-divider></mat-divider>
      <button (click)="onLogout()" mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </button>
    </mat-menu>

    <div class="p-2">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
