<mat-card>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <br />
  <mat-card-title *ngIf="isEditing">
    <mat-form-field class="w-full">
      <mat-label>
        <label for="filename">Filename</label>
      </mat-label>
      <input [formControl]="newFilename" id="filename" matInput type="text" />
      <mat-error *ngIf="newFilename.hasError('required')">
        Filename is required
      </mat-error>
    </mat-form-field>
  </mat-card-title>
  <mat-card-title *ngIf="!isEditing">
    {{ file?.filename }}.{{ file?.extension }}
  </mat-card-title>

  <mat-card-content>{{ file?.size | number }} bytes</mat-card-content>

  <mat-card-actions *ngIf="isEditing">
    <button (click)="onEditDone()" color="primary" mat-raised-button>
      <mat-icon>done</mat-icon>
      Done
    </button>
  </mat-card-actions>
  <mat-card-actions *ngIf="!isEditing">
    <button
      (click)="onDownload()"
      (mouseleave)="labelDownload.className = 'hidden'"
      (mouseover)="labelDownload.className = ''"
      color="primary"
      mat-raised-button
    >
      <mat-icon>get_app</mat-icon>
      <span #labelDownload class="hidden">Download</span>
    </button>
    <button
      (click)="isEditing = true"
      (mouseleave)="labelEdit.className = 'hidden'"
      (mouseover)="labelEdit.className = ''"
      mat-raised-button
    >
      <mat-icon>edit</mat-icon>
      <span #labelEdit class="hidden">Edit</span>
    </button>
    <button
      (click)="onDelete()"
      (mouseleave)="labelDelete.className = 'hidden'"
      (mouseover)="labelDelete.className = ''"
      color="warn"
      mat-raised-button
    >
      <mat-icon>delete</mat-icon>
      <span #labelDelete class="hidden">Delete</span>
    </button>
  </mat-card-actions>
</mat-card>
